@import "tailwindcss";




body {
    font-family: 'Comic Neue', cursive;
    font-weight: 400; /* Peso regular por defecto */
  }


















html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
